.error-msg{
    color: red;
text-align: center;
font-size: 18px;
}
.am-tab-bar{ //是导航始终在底部
    position: fixed;
    bottom: 0;
    width: 100%;
    height: inherit;
}
.sticky-header{ //是导航始终在顶部
    z-index: 10;
    position: fixed;
    top:0;
    width: 100%;
}